h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #EDE9E3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: linear-gradient(to right, #a18b68, #37392c);
  color: white;
}

.header-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  width: 30px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 56px;
  }
}

.mobile--close__icon {
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .mobile--close__icon {
    display: none;
  }
}

.nav_menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 12px 8px #ececec;
}

.navigation-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}

.navigation-list__item {
  color: #fcfcfb;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 310;
  line-height: normal;
  text-decoration: none;
  color: white;
}

.navigation-list__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fcfcfb;
}

.header-btn {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-btn {
    display: block;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(55, 57, 44, 0);
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 310;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__icon {
    display: none;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.contact-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 530px;
  height: 624px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  background-color: #fff;
}

.modal-close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 0 auto;
}

.modal--close__icon {
  fill: #000;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.modal--close__icon:hover {
  fill: #41be9d;
}

.header-modal__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

.modal__input {
  border: 1px solid #3a3631;
  border-radius: 16px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
}

.form label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999ea3;
}

.form-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-list__item:nth-child(3) {
  margin-bottom: 40px;
}

.modal__btn {
  border-radius: 8px;
  padding: 6px 0px;
  width: 224px;
  height: 54px;
  background: #7e6d53;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fcfcfb;
  border: none;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background: linear-gradient(302deg, #2d2a22 0%, #7e6d53 100%);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.js-open-menu {
  background: none;
  border: none;
}

.js-close-menu {
  position: absolute;
  right: 20px;
  margin-bottom: 30px;
  background: none;
  border: none;
}

.menu-container.is-open {
  transform: translateX(0);
}

.js-menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .js-menu-container {
    display: none;
  }
}

.nav-menu {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  padding-left: 108px;
  padding-right: 108px;
  padding-bottom: 254px;
  row-gap: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mobile--close__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
}

.hero {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 55px;
  background-image: url(../images/hero-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: 485px 480px;
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: url(../images/hero-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: 485px 480px;
    padding-top: 15px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero-bg-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 32px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 32px;
    padding-bottom: 100px;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero__title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: #7e6d53;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
  }
}

.hero__text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #7e6d53;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .hero__text {
    font-size: 16px;
    margin-bottom: 246px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 24px;
    margin-bottom: 383px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 24px;
    margin-bottom: 382px;
  }
}

.hero-btn {
  display: block;
  border-radius: 16px;
  padding: 14px 28px;
  width: 200px;
  background: #fcfcfb;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #2d2a22;
  margin: 0 auto;
  text-align: center;
  border: none;
}
@media screen and (min-width: 480px) {
  .hero-btn {
    padding: 14px 28px;
    width: 200px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero-btn {
    padding: 14px 28px;
    width: 256px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    padding: 14px 28px;
    width: 256px;
    font-size: 24px;
  }
}

.hero-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.hero-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 530px;
  height: 624px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  background-color: #fff;
}

.modal-close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 0 auto;
}

.modal--close__icon {
  fill: #000;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.modal--close__icon:hover {
  fill: #41be9d;
}

.header-modal__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

.modal__input {
  border: 1px solid #3a3631;
  border-radius: 16px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
}

.form label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999ea3;
}

.form-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-list__item:nth-child(3) {
  margin-bottom: 40px;
}

.modal__btn {
  border-radius: 8px;
  padding: 6px 0px;
  width: 224px;
  height: 54px;
  background: #7e6d53;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fcfcfb;
  border: none;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.philosophy {
  height: 677px;
  background-image: url("../images/phylosophy-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .philosophy {
    height: 677px;
  }
}
@media screen and (min-width: 768px) {
  .philosophy {
    height: 630px;
  }
}
@media screen and (min-width: 1200px) {
  .philosophy {
    max-width: 1600px;
  }
}

.philosophy__wrapper {
  width: 100%;
  height: 50%;
  background: #fcfcfb;
  opacity: 0.9;
}

.philosophy-position {
  width: 100%;
  height: 398px;
  padding-bottom: 279px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .philosophy-position {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 279px;
    height: 398px;
  }
}
@media screen and (min-width: 768px) {
  .philosophy-position {
    display: flex;
    justify-content: space-between;
    height: 324px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 306px;
  }
}
@media screen and (min-width: 1200px) {
  .philosophy-position {
    display: flex;
    justify-content: space-between;
    padding-bottom: 290px;
    padding-left: 134px;
    padding-right: 134px;
    height: 340px;
  }
}

.philosophy-politic {
  margin-top: 32px;
  width: 336px;
  height: 122px;
}
@media screen and (min-width: 480px) {
  .philosophy-politic {
    margin-top: 32px;
    width: 280px;
    height: 122px;
  }
}
@media screen and (min-width: 768px) {
  .philosophy-politic {
    margin-top: 0;
    padding-top: 76px;
    width: 336px;
    height: 172px;
    padding-bottom: 76px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .philosophy-politic {
    margin-top: 0;
    padding-top: 96px;
    width: 393px;
    height: 148px;
    padding-bottom: 96px;
  }
}

.philosophy-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 480px) {
  .philosophy-list {
    width: 100%;
    gap: 20px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .philosophy-list {
    row-gap: 60px;
    -moz-column-gap: 32px;
         column-gap: 32px;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .philosophy-list {
    row-gap: 92px;
    width: 537px;
    -moz-column-gap: 72px;
         column-gap: 72px;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.philosophy-list__item {
  flex-basis: calc((100% - 20px) / 2);
}
@media screen and (min-width: 480px) {
  .philosophy-list__item {
    flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .philosophy-list__item {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .philosophy-list__item {
    flex-basis: calc((100% - 72px) / 2);
  }
}

.philosophy-list__text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #7e6d53;
  margin-top: 8px;
}

.philosophy__title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #2d2a22;
  margin-bottom: 8px;
}
@media screen and (min-width: 480px) {
  .philosophy__title {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .philosophy__title {
    font-size: 24px;
    margin-bottom: 16px;
    min-width: 325px;
  }
}

.philosophy__text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #7e6d53;
  max-width: 280px;
}
@media screen and (min-width: 480px) {
  .philosophy__text {
    font-size: 12px;
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .philosophy__text {
    font-size: 16px;
    max-width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .philosophy__text {
    font-size: 16px;
    max-width: 393px;
  }
}

.apartment {
  padding-top: 18px;
  padding-bottom: 10px;
  margin: 0 auto;
  background: #fff;
  padding-left: 85px;
  padding-right: 85px;
}
@media screen and (min-width: 480px) {
  .apartment {
    padding-bottom: 20px;
    padding-top: 13px;
  }
}
@media screen and (min-width: 768px) {
  .apartment {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    padding-top: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .apartment {
    max-width: 1600px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.apartment__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #7e6d53;
  margin-bottom: 20px;
  width: 280px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .apartment__title {
    font-size: 28px;
    margin-bottom: 25px;
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .apartment__title {
    font-size: 40px;
    margin-bottom: 33px;
    min-width: 485px;
  }
}
@media screen and (min-width: 1200px) {
  .apartment__title {
    padding-left: 68px;
    font-size: 40px;
    margin-bottom: 40px;
    min-width: 552px;
  }
}

.apartment-list {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .apartment-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .apartment-list {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}

.apartment-list__item {
  width: 100%;
  margin-bottom: 28px;
  padding: 20px 34px;
}
@media screen and (min-width: 480px) {
  .apartment-list__item {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .apartment-list__item {
    width: 329px;
    padding-left: 50px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .apartment-list__item {
    width: 360px;
    padding-left: 60px;
    padding-top: 20px;
  }
}

.apartment-list__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.apartment-list__item:hover {
  border: 2px solid #7e6d53;
  border-radius: 16px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
}

.apartment-list-item__title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
  color: #2d2a22;
  margin-bottom: 12px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .apartment-list-item__title {
    font-size: 28px;
    margin-bottom: 12px;
    text-align: center;
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .apartment-list-item__title {
    margin-bottom: 14px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .apartment-list-item__title {
    font-size: 32px;
    margin-bottom: 14px;
    text-align: center;
    padding-left: 61px;
    padding-right: 131px;
    min-width: 297px;
  }
}

.apartment__text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: #7e6d53;
}
@media screen and (min-width: 480px) {
  .apartment__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .apartment__text {
    font-size: 24px;
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .apartment__text {
    font-size: 24px;
  }
}

.apartment-btn {
  display: block;
  border-radius: 16px;
  padding: 14px 36.5px;
  width: 258px;
  background: #7e6d53;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fcfcfb;
  border: none;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .apartment-btn {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .apartment-btn {
    width: 264px;
  }
}

.apartment-main {
  display: none;
}
@media screen and (min-width: 1200px) {
  .apartment-main {
    display: block;
  }
}

.download-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.download-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.download-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  width: 562px;
  background: #ede9e3;
  padding-left: 40px;
  padding-right: 44px;
  padding-bottom: 32px;
  padding-top: 24px;
}

.modal-close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 0 auto;
}

.modal--close__icon {
  fill: #000;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.modal--close__icon:hover {
  fill: #41be9d;
}

.aprartment-main__wrapper {
  display: flex;
  justify-content: space-between;
}

.img__wrapper {
  width: 112px;
  height: 134px;
}

.apartment-modal__wrapper {
  width: 296px;
}

.download-modal__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #7e6d53;
  margin-bottom: 24px;
}

.download-modal__text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #7e6d53;
  margin-bottom: 24px;
  width: 249px;
}

.download-modal-field {
  position: relative;
  border: 1px solid #7e6d53;
  border-radius: 8px;
  width: 296px;
  height: 32px;
  padding-left: 16px;
  padding-right: 131px;
  padding-bottom: 8px;
  background-color: transparent;
}

.download-modal-field::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #2d2a22;
  min-width: 150px;
  max-height: 16px;
}

.download-modal-field::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #2d2a22;
  min-width: 150px;
  max-height: 16px;
}

.field__icon {
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.apartment-modal-btn {
  background-color: transparent;
  border: none;
}

.infrastructure {
  padding-top: 60px;
  margin: 0 auto;
  justify-self: 497px;
}
@media screen and (min-width: 768px) {
  .infrastructure {
    padding-top: 150px;
    height: 570px;
  }
}
@media screen and (min-width: 1200px) {
  .infrastructure {
    background-image: none;
    max-width: 1600px;
    height: 566px;
  }
}

.infrastructure-main {
  background-image: url("../images/infrastructure-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .infrastructure-main {
    background-image: none;
  }
}

@media screen and (min-width: 768px) {
  .infrastructure-position {
    display: flex;
    justify-content: space-between;
  }
}

.infrastructure-content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .infrastructure-content {
    background-image: url("../images/infrastructure-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.infrastructure__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #7e6d53;
  margin-bottom: 24px;
  position: absolute;
  top: -40px;
}
@media screen and (min-width: 768px) {
  .infrastructure__title {
    position: absolute;
    top: -70px;
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .infrastructure__title {
    margin-bottom: 20px;
  }
}

.infrastructure__wrapper {
  margin: 0 auto;
  width: 320px;
  height: 431px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .infrastructure__wrapper {
    height: 486px;
    width: 768px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .infrastructure__wrapper {
    width: 1144px;
    padding-left: 645px;
  }
}

.infrastructure-list {
  padding: 24px 18px;
  height: 351px;
  width: 300px;
  background: #fcfcfb;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .infrastructure-list {
    height: 470px;
    width: 331px;
    padding: 24px 32px;
    row-gap: 60px;
  }
}

.infrastructure-list__item {
  display: flex;
}

.infrastructure-list__item:nth-child(2) {
  flex-direction: column-reverse;
}

.infrastructure-list__wrapper {
  position: relative;
  border: 1px solid #2d2a22;
  border-radius: 50px;
  width: 101px;
  height: 101px;
}

.infrastructure-list__amount {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #2d2a22;
  bottom: 24px;
}
@media screen and (min-width: 768px) {
  .infrastructure-list__amount {
    font-size: 16px;
  }
}

.infrastructure-text__wrapper {
  position: relative;
}

.infrastructure__text {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  height: 21px;
  width: 138px;
}
@media screen and (min-width: 768px) {
  .infrastructure__text {
    font-size: 16px;
    width: 160px;
    height: 24px;
  }
}

.infrastructure__text:nth-child(1) {
  position: absolute;
  bottom: 30px;
}
@media screen and (min-width: 768px) {
  .infrastructure__text:nth-child(1) {
    bottom: 40px;
  }
}

.infrastructure__text:nth-child(3) {
  position: absolute;
  bottom: 30px;
}
@media screen and (min-width: 768px) {
  .infrastructure__text:nth-child(3) {
    bottom: 40px;
  }
}

.gallery {
  width: 1144px;
  padding-top: 100px;
  margin: 0 auto;
}

.gallery__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #7e6d53;
  padding-top: 100px;
}

.content {
  display: flex;
  margin-bottom: 100px;
  margin-left: 74px;
}
@media screen and (min-width: 768px) {
  .content {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    margin-left: 362px;
    margin-right: 362px;
  }
}

.carousel {
  margin-top: 20px;
  max-width: 500px;
  max-height: 100%;
}

.w-100 {
  width: 159px !important;
  height: 174px !important;
}
@media screen and (min-width: 480px) {
  .w-100 {
    width: 300px !important;
    height: 330px !important;
  }
}
@media screen and (min-width: 768px) {
  .w-100 {
    width: 364px !important;
    height: 395px !important;
  }
}
@media screen and (min-width: 1200px) {
  .w-100 {
    width: 556px !important;
    height: 589px !important;
  }
}

.get-in-touch {
  margin: 0 auto;
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .get-in-touch {
    margin: 0 auto;
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 0;
  }
}

.get-in-touch__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #7e6d53;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .get-in-touch__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch__title {
    font-size: 40px;
  }
}

.get-in-touch__text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #7e6d53;
  text-align: center;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .get-in-touch__text {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch__text {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.get-in-touch__wrapper {
  background: #7e6d53;
  border-radius: 16px;
  padding: 53px 70px;
  width: 380px;
  height: 218px;
  -moz-column-gap: 64px;
       column-gap: 64px;
  margin: 0 auto;
  row-gap: 14px;
}
@media screen and (min-width: 768px) {
  .get-in-touch__wrapper {
    border-radius: 16px;
    padding: 53px 70px;
    height: 226px;
    -moz-column-gap: 64px;
         column-gap: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch__wrapper {
    border-radius: 16px;
    padding: 53px 70px;
    height: 226px;
    -moz-column-gap: 64px;
         column-gap: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
}

.get-in-touch-list {
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .get-in-touch-list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch-list {
    margin-bottom: 0;
  }
}

.get-in-touch-list__link {
  font-family: "Poppins', sans-serif";
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  margin-left: 8px;
}

.get-in-touch-btn {
  border-radius: 8px;
  padding: 14px 76px;
  width: 240px;
  height: 48px;
  background: #fcfcfb;
  font-family: "Poppins', sans-serif";
  font-weight: 300;
  font-size: 16px;
  color: #7e6d53;
  border: none;
}
@media screen and (min-width: 768px) {
  .get-in-touch-btn {
    padding: 6px 0px;
    width: 224px;
    height: 54px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch-btn {
    padding: 6px 0px;
    width: 224px;
    height: 54px;
    font-size: 24px;
  }
}

.footer {
  background: linear-gradient(213deg, #2d2a22 0%, #7e6d53 100%);
  padding-top: 20px;
  padding-bottom: 8px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1600px;
  }
}

.footer-position {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-position {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.footer .logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer .logo {
    display: block;
    padding-right: 127px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    max-width: 70px;
    font-weight: 300;
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .footer .logo {
    padding-right: 162px;
  }
}

.footer__navigation {
  padding-right: 46px;
}
@media screen and (min-width: 768px) {
  .footer__navigation {
    padding-right: 83px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__navigation {
    padding-right: 208px;
  }
}

.footer__title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .footer__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 20px;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.nav-list__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-right: 91px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-right: 253px;
  }
}

.contacts__title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.contacts-list__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fffefe;
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    font-size: 16px;
  }
}

.icons {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .icons {
    margin-top: 0;
  }
}

.icons-list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (min-width: 480px) {
  .icons-list {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .icons-list {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .icons-list {
    row-gap: 30px;
  }
}

.icons-list__icon {
  fill: #fff;
}

.terms {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #979797;
  text-align: center;
  margin-top: 20px;
  width: 279px;
}
@media screen and (min-width: 768px) {
  .terms {
    width: 465px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.service-terms {
  font-weight: 500;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
  text-align: center;
}

.privacy-policy {
  font-weight: 500;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
  text-align: center;
}

.contacts, .footer__wrapper {
  width: 50%;
}/*# sourceMappingURL=index.css.map */