<header class="header">
  <div class="container header-position">
    <div class="container__wrapper">
      <a href="#" class="logo">NICE VIEW</a>
    </div>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-list__item">
          <a href="" class="navigation-list__link">Home</a>
        </li>
        <li class="navigation-list__item">
          <a href="" class="navigation-list__link">About</a>
        </li>
        <li class="navigation-list__item">
          <a href="" class="navigation-list__link">Apartments</a>
        </li>
        <li class="navigation-list__item">
          <a href="" class="navigation-list__link">Infrastructure</a>
        </li>
        <li class="navigation-list__item">
          <a href="" class="navigation-list__link">Gallery</a>
        </li>
        <li class="navigation-list__item">
          <a href="" class="navigation-list__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header__icon" width="18" height="16">
        <use href="./icons/symbol-defs.svg#icon-mobile-menu"></use>
      </svg>
    </button>
    <div class="menu-container js-menu-container">
      <nav class="navigation">
        <button class="menu-toggle js-close-menu">
          <svg class="mobile--close__icon js-close-menu" width="24" height="24">
            <use href="./icons/symbol-defs.svg#icon-close-btn"></use>
          </svg>
        </button>
        <ul class="nav-menu">
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Home</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">About</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Apartments</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Infrastructure</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Gallery</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="header-btn" data-modal-open>Contact us</button>
    <div class="backdrop is-hidden no-scroll" data-backdrop>
      <div class="contact-modal">
        <button type="button" class="modal-close" data-modal-close>
          <svg class="modal--close__icon" width="11" height="11">
            <use href="./icons/symbol-defs.svg#icon-close-btn"></use>
          </svg>
        </button>
        <h2 class="header-modal__title">House 1</h2>
        <div class="header-modal-position">    
          <img src="./images/header-modal.jpg" alt="Home" />
          <div>
          <p class="header-modal__text">Total area:<span>50.2 m2</span></p>
          <p class="header-modal__text">Rooms:<span>1</span></p>
          <p class="header-modal__text">from 1000 dol/m2</p>
          <p class="header-modal__text">about 50 200 dollars</p>
          <form class="form">
            <button type="submit" class="header-modal__btn">Contact us</button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</header>
