<section class="infrastructure">
  <div class="infrastructure-main">
    <div class="container infrastructure-position">
      <div class="infrastructure-content">
        <h2 class="infrastructure__title">Infrastructure</h2>

        <div class="infrastructure__wrapper">
          <ul class="infrastructure-list">
            <li class="infrastructure-list__item">
              <div class="infrastructure-list__wrapper">
                <span class="infrastructure-list__amount">2 minutes walk</span>
              </div>
              <div class="infrastructure-text__wrapper">
                <p class="infrastructure__text">to the supermaket</p>
              </div>
            </li> 
            <li class="infrastructure-list__item">
              <div class="infrastructure-list__wrapper" style="left: 166px">
                <span class="infrastructure-list__amount">4 minutes walk</span>
              </div>
              <div class="infrastructure-text__wrapper">
                <p class="infrastructure__text" style="top: 40px">
                  to the coffee shop    
                </p>
              </div>
            </li>
            <li class="infrastructure-list__item">
              <div class="infrastructure-list__wrapper">
                <span class="infrastructure-list__amount">7 minutes walk</span>
              </div>
              <div class="infrastructure-text__wrapper">
                <p class="infrastructure__text">to the nearest park</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
